In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
# %fs   - for using in DataBricks, "spark" already runned
# ls /databricks-datasets

spark = SparkSession.builder\
    .master("local")\
    .appName("lambda")\
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/03 12:13:39 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
client = spark.read\
    .option("header", True)\
    .option("inferSchema", True)\
    .csv("/datalake/bronze/dshop/clients/2022-02-24/clients.csv")

In [4]:
display(client)

DataFrame[client_id: int, fullname: string, location_area_id: int]

In [5]:
client = client.select('client_id', col('fullname').alias('client_name'))

In [6]:
client.show()

+---------+---------------+
|client_id|    client_name|
+---------+---------------+
|        1| Anthony Reilly|
|        2|Christina Boyle|
|        3|  Andrew Walker|
|        4|Emily Rodriguez|
|        5|    Glen Travis|
|        6|     Adam Mayer|
|        7|  Lydia Griffin|
|        8|     Marcus Cox|
|        9|   Sean Johnson|
|       10|    Joel Mullen|
|       11|   Laurie Brown|
|       12|  Kevin Johnson|
|       13|    Paula Lopez|
|       14|Michelle Hodges|
|       15|   Jerome Russo|
|       16|Jonathon Porter|
|       17| Andrew Jackson|
|       18|   Emma Jackson|
|       19|     Pam Wilson|
|       20| Andrea Sanders|
+---------+---------------+
only showing top 20 rows

In [7]:
# client.write.format("delta").save("/datalake/silver/dshop/clients")    # only in DataBricks - "delta" is a parquet file and table 
client.write\
    .parquet("/datalake/silver/dshop/clients/", mode='overwrite')

In [8]:
client.createOrReplaceTempView('dim_client')
# % sql
# CREATE TABLE tmp.client USING DELTA LOCATION '/datalake/silver/dshop/clients'  # Databricks creation table

In [9]:
spark.sql(""" SELECT * FROM dim_client """).show()
# %sql
# select * from tmp.client   # DataBricks selecting

+---------+---------------+
|client_id|    client_name|
+---------+---------------+
|        1| Anthony Reilly|
|        2|Christina Boyle|
|        3|  Andrew Walker|
|        4|Emily Rodriguez|
|        5|    Glen Travis|
|        6|     Adam Mayer|
|        7|  Lydia Griffin|
|        8|     Marcus Cox|
|        9|   Sean Johnson|
|       10|    Joel Mullen|
|       11|   Laurie Brown|
|       12|  Kevin Johnson|
|       13|    Paula Lopez|
|       14|Michelle Hodges|
|       15|   Jerome Russo|
|       16|Jonathon Porter|
|       17| Andrew Jackson|
|       18|   Emma Jackson|
|       19|     Pam Wilson|
|       20| Andrea Sanders|
+---------+---------------+
only showing top 20 rows

In [10]:
client_df = spark.table("dim_client")

In [11]:
client_df.show()

+---------+---------------+
|client_id|    client_name|
+---------+---------------+
|        1| Anthony Reilly|
|        2|Christina Boyle|
|        3|  Andrew Walker|
|        4|Emily Rodriguez|
|        5|    Glen Travis|
|        6|     Adam Mayer|
|        7|  Lydia Griffin|
|        8|     Marcus Cox|
|        9|   Sean Johnson|
|       10|    Joel Mullen|
|       11|   Laurie Brown|
|       12|  Kevin Johnson|
|       13|    Paula Lopez|
|       14|Michelle Hodges|
|       15|   Jerome Russo|
|       16|Jonathon Porter|
|       17| Andrew Jackson|
|       18|   Emma Jackson|
|       19|     Pam Wilson|
|       20| Andrea Sanders|
+---------+---------------+
only showing top 20 rows